.commonSection{
    background: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url('../assets//images/tour.jpg') no-repeat center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-size: cover;
    text-align: center;
}

.commonSection h1{
    font-size: 2.5rem;
    color: #fff;
}