@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');.subtitle{
    background: var(--secondary-color);
    color: #fff;
    padding: 0.2rem 0.8rem;
    width: max-content;
    font-size: 1.1rem;
    font-family: 'Alkatra', cursive;
    border-radius: 10px 5px;
}